.SellerMyPromotorScreen {
  width:100%;
  min-height: 100vh;
  background-color:#fff3e0;
}

.SellerMyPromotorScreen .TopContainer {
  padding: 20px 40px;
}

.SellerMyPromotorScreen .Top{
  padding: 20px 0;
}

.SellerMyPromotorScreen .Top .DiscoverPromotorButton {
  padding: 0 10px;
}

.SellerMyPromotorScreen .PromotorsContainer {
  padding: 20px 80px;
}

.SellerMyPromotorScreen .PromotorsContainer .PromotorContainer{
  padding-bottom: 40px;
}