.SellerDashboardScreen {
  width:100%;
  min-height: 100vh;
  background-color:#fff3e0;
}

.SellerDashboardScreen .Top {
  padding: 20px 30px;
}

.SellerDashboardScreen .ButtonsContainer .Button:first-child {
  margin-right: 40px;
}

.SellerDashboardScreen .ButtonsContainer .Button:last-child {
  margin-left: 40px;
}

.SellerDashboardScreen .ButtonsContainer .Button {
  padding: 30px 30px;
  border: solid black;
  border-radius: 10%;
}

.SellerDashboardScreen .ButtonsContainer .ButtonIcon {
  border-radius: 100%;
  padding-top:10px;
  padding-left: 10px;
  padding-right: 10px;  
}

.SellerDashboardScreen .Tabel {
  padding: 0px 30px;
}

@media only screen and (max-width: 768px) {
  .SellerDashboardScreen .ButtonsContainer .Button:first-child {
      margin-bottom: 40px;
      margin-right:0;
  }
  
  .SellerDashboardScreen .ButtonsContainer .Button:last-child {
      margin-top: 40px;
      margin-left:0;
  }   
}