.AboutUs {
  width:100%;
  min-height: 100vh;
  background-color: lightgray;
}

.AboutUs .FirstTopBar {
  background-color: #ffa000;
  padding: 10px 80px;
}

.AboutUs .FirstTopBar .url, .AboutUs .FirstTopBar h6{
  color:white;
  text-decoration: #fff;
}

.AboutUs .SecondTopBar {
  padding: 10px 80px;
  background-color: #fff;
}

.AboutUs .SecondTopBar .Logo {
  max-width: 75px;
}

.AboutUs .ThirdTopBar {
  background-color: gray;
  padding: 20px 80px;
}

.AboutUs .ThirdTopBar .url {
  font-weight: 700 !important;
  text-transform: uppercase;
  padding: 5px 5px;
  color:white;
  text-decoration: white;
  transition: 0.5s;
  font-weight: 100;
}

.AboutUs .ThirdTopBar .url:hover {
  background-color: rgba(255,255,255,0.3);
  color:black;
  text-decoration: black;
}

.AboutUs .ThirdTopBar .url.bgMain, .AboutUs .ThirdTopBar .url.bgMain:hover {
  background-color: #ffa000;
  padding: 5px 20px;
}

.AboutUs .ThirdTopBar .url.bgMain:hover {
  color:white;
  text-decoration: white;
}

.AboutUs .MainContainer {
  padding: 0 80px;
}

.AboutUs .Main{
  padding: 80px 80px;
  background-color: white;
  flex-wrap: wrap;
}

.AboutUs .Main .Head {
  margin-bottom: 4em;
}

.AboutUs .Main .whyIcons {
  font-size: 4em;
}

.borderRight {
  border-right: 0.1em solid black;
  padding: 2em;
}

.borderLeft {
  padding: 2em;
}

.withBorder {
  background: linear-gradient(to right, #ef5d36, #facf5c);
  color: white;
  padding: 10px;
}

.AboutUs .clientPhotos {
  width: 100%;
}

.AboutUs .FooterContainer {
  background-color: rgb(73, 73, 73);
  color: white;
  padding: 20px 80px;
}

.AboutUs .FooterBottomContainer {
  background-color: rgb(41, 41, 41);
  color: white;
}

.AboutUs .footerLinks {
  color:white;
  text-decoration: white;
}

.AboutUs .FooterLogo {
  max-width: 25%;
}

.cardImage {
  width: 100%;
}

.card{
  max-width: 400px;
  opacity: 0;
}

.visible {
  opacity: 1;
  transition: 3s;
}

.AboutUs .AboutLogo {
  max-width:100%;
}