.HowItWorks {
  width:100%;
  min-height: 100vh;
  background-color: lightgray;
}

.HowItWorks .FirstTopBar {
  background-color: #ffa000;
  padding: 10px 80px;
}

.HowItWorks .FirstTopBar .url, .HowItWorks .FirstTopBar h6{
  color:white;
  text-decoration: #fff;
}

.HowItWorks .SecondTopBar {
  padding: 10px 80px;
  background-color: #fff;
}

.HowItWorks .SecondTopBar .Logo {
  max-width: 75px;
}

.HowItWorks .ThirdTopBar {
  background-color: gray;
  padding: 20px 80px;
}

.HowItWorks .ThirdTopBar .url {
  font-weight: 700 !important;
  text-transform: uppercase;
  padding: 5px 5px;
  color:white;
  text-decoration: white;
  transition: 0.5s;
  font-weight: 100;
}

.HowItWorks .ThirdTopBar .url:hover {
  background-color: rgba(255,255,255,0.3);
  color:black;
  text-decoration: black;
}

.HowItWorks .ThirdTopBar .url.bgMain, .HowItWorks .ThirdTopBar .url.bgMain:hover {
  background-color: #ffa000;
  padding: 5px 20px;
}

.HowItWorks .ThirdTopBar .url.bgMain:hover {
  color:white;
  text-decoration: white;
}

.HowItWorks .MainContainer {
  padding: 0 80px;
}

.HowItWorks .Main{
  padding: 80px 80px;
  background-color: white;
  flex-wrap: wrap;
}

.HowItWorks .Main .Head {
  margin-bottom: 4em;
}

.HowItWorks .Main .whyIcons {
  font-size: 4em;
}

.borderRight {
  border-right: 0.1em solid black;
  padding: 2em;
}

.borderLeft {
  padding: 2em;
}

.withBorder {
  background: linear-gradient(to right, #ef5d36, #facf5c);
  color: white;
  padding: 10px;
}

.HowItWorks .clientPhotos {
  max-width: 100%;
}

.HowItWorks .FooterContainer {
  background-color: rgb(73, 73, 73);
  color: white;
  padding: 20px 80px;
}

.HowItWorks .FooterBottomContainer {
  background-color: rgb(41, 41, 41);
  color: white;
}

.HowItWorks .footerLinks {
  color:white;
  text-decoration: white;
}

.HowItWorks .FooterLogo {
  max-width: 25%;
}

.cardImage {
  width: 100%;
}

.card{
  max-width: 400px;
  opacity: 0;
}

.visible {
  opacity: 1;
  transition: 3s;
}

.HowItWorks .videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.HowItWorks .videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}