.AdminKontenDetail {
  width:100%;
  min-height: 100vh;
  background-color:#fff3e0;
}

.AdminKontenDetail .Container {
  padding: 0 40px;
}

.AdminKontenDetail .DetailContainer {
  max-height: 75vh;
  overflow: scroll;
}

.AdminKontenDetail .HasilViral {
  padding: 20px 30px;
}

.AdminKontenDetail .MiniCounter {
  padding: 10px 20px;
}

.AdminKontenDetail sup {
  color: red;
}